
* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.4;
  color: #333;
  font-family: Arial, sans-serif;
  font-size: 0.9em;
}

#editWindow {
  width: 640px;
  height: 480px;
  border: solid 1px #000000;
}

#nextSlide {
  width: 80px;
}

#prevSlide {
  width: 80px;
}

#sideBar {
  position: absolute;
  top: 10px;
  left: 650px;
}

div.slide {
  width: 640px;
  height: 480px;
}

div.textBox {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 200px;
  height: 50px;
  background-color: #e2e2e2;
}

div.focusElement {
  border: dotted 3px gray;
}

